@tailwind base;
@tailwind components;
@tailwind utilities;

.min-h-1 {
  min-height: 1rem;
}

.border-b-1 {
  border-bottom-width: 1px;
}

.bg-y-mapo {
  background-color: #fff;
}

.layout-side {
  @apply flex flex-col flex-wrap relative -mx-4;
}

.sidebar {
  background: #fff;
  @apply flex-auto px-4 order-1 mt-2 mb-2;
}

.container-recruit {
  @apply container w-full mx-auto;
}

.content {
  @apply flex-auto px-4 order-2 my-2;
}

.li-recruit {
  @apply border border-gray-200 rounded flex-1 justify-start my-1 mx-2;
}

.a-li-recruit {
  @apply inline-block w-full h-full py-3 px-4 hover:bg-gray-200;
}

.list-menu {
  @apply flex flex-wrap flex-col -mx-2;

  color: rgba(62, 57, 64);
}

.is-active {
  color: #a062cb;
}

.is-active-recruit {
  background-color: #f2f2f2;
}

.form-group {
  @apply relative mb-4;
}

.label-recruit {
  display: inline-block;
  margin-bottom: 0.25rem;
}

.input-recruit {
  @apply py-3 px-4 appearance-none border rounded border-gray-300 text-gray-500 w-full;
}

.textarea-recruit {
  @apply py-3 px-4 appearance-none border rounded border-gray-300 text-gray-500 w-full h-32;
}

.form-radio {
  @apply appearance-none inline-block align-middle bg-origin-border select-none flex-shrink-0 rounded-full h-5 w-5 border bg-white;

  color: #6f2b90;
}

.form-radio:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgb(66 153 225 / 50%);
  border-color: #63b3ed;
}

.btn {
  display: block;
  text-align: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin-left: auto;
  cursor: pointer;
}

.btn-lg-three {
  border-radius: 0.25rem;
  font-weight: 700;
  min-height: 3.125rem;
}

.btn-lg-two {
  border-radius: 0.25rem;
  font-weight: 700;
  min-height: 3.125rem;
  background-color: #6f2b90;
}

@media (min-width: 640px) {
  .sidebar {
    width: 25%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .layout-side {
    flex-direction: row;
  }

  .content {
    @apply w-7/12 my-20;
  }
}

@media (min-width: 960px) {
  .content {
    @apply w-7/12 my-28;
  }
}

@media (min-width: 1280px) {
  .container-recruit {
    max-width: 1024px;
  }
}

@media (min-width: 1536px) {
  .container-recruit {
    max-width: 1024px;
  }
}
